/* Navbar start style */
.content {
  position: relative;
  width: calc(100% - 240px);
  left: 240px;
}

nav {
  background-color: var(--light);
  height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 8px;
}

nav .form-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

nav .form-group input {
  width: 100%;
  background-color: var(--lightBlue);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 12px 0 12px 12px;
  transition: all 0.3s ease;
  margin-right: 10px;
}

nav .form-group input::placeholder {
  color: var(--lightGrey);
  font-weight: normal;
  font-size: 13px;
}

nav .form-group .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--blue);
  pointer-events: none;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 7px;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 12px;
  background-color: var(--lightBlue);
  color: var(--blue);
}

.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.nav-link .icon-container .badge {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: var(--red);
  color: white;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  position: relative;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.profile .name {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  grid-gap: 55px;
  margin-left: 8px;
  padding-right: 8px;
  font-weight: bold;
}

.open-menu {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--light);
}

.close-menu {
  border-radius: 10px;
  background: var(--lightBlue);
}

.profile .name p {
  color: var(--grey);
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-info {
  display: flex;
  grid-gap: 8px;
  div {
    padding-top: 6px;
  }
}

.profile-link {
  position: absolute;
  top: calc(100% - 15px);
  left: 8px;
  padding: 10px 10px;
  background: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 167px;
  transition: all 0.3s ease;
  z-index: 99;
}

.profile-link a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 6px;
  font-size: 14px;
  color: var(--grey);
  transition: all 0.3s ease;
}

.profile-link a:hover {
  color: var(--blue);
  background: var(--lightBlue);
  border: none;
  border-radius: 10px;
}

.profile-icon {
  padding-right: 8px;
}

.notification-link {
  position: absolute;
  top: calc(100% - 5px);
  right: 0px;
  padding: 10px 10px;
  background: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  width: 320px;
  transition: all 0.3s ease;
  z-index: 99;
}

.notification-link a {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s; /* Optional: Add hover effect */
}

.notification-content {
  display: flex;
  align-items: center;
}

.old-notification {
  color: #999;
  opacity: 0.5;
  pointer-events: none;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional: vertically align the text and time */
  font-size: 14px; /* Adjust font size as needed */
  color: var(--dark);
  font-weight: bold;
  margin: 8px;
}

.notification-header span {
  color: var(--grey);
  font-size: 8px;
}

.text-content p {
  color: var(--grey);
  margin: 8px;
  font-size: 12px;
}

.notify-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px 12px;
  background: var(--lightYellow);
  color: var(--yellow);
  border-radius: 10px;
  font-size: 22px;
}

.notify-text {
  display: flex;
  justify-content: space-between;
  color: var(--dark);
}

.notify-text span a {
  text-decoration: underline;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ddd;
}

ul .see-all-link {
  text-decoration: underline;
  color: var(--blue);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* language menu */
.lang-link {
  position: absolute;
  top: calc(100% - 5px);
  right: 0px;
  padding: 10px 10px;
  background: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  width: 80px;
  transition: all 0.3s ease;
  z-index: 99;
}

.lang-link li a {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark);
  transition: background-color 0.3s; /* Optional: Add hover effect */
}

.lang-link li {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

/* Navbar end style */
