.dashboard-container {
  position: relative;
  width: calc(100% - 240px);
  left: 240px;
  height: auto;
  background: var(--midBlue);
  border-top-left-radius: 20px;
  padding-top: 5px;
  padding-bottom: 40px;
  z-index: 0;
}

.dashboard-container h4 {
  margin: 30px;
}

/* Vpark and statistcs components design  */
.dashboard {
  position: relative;
  display: flex;
  grid-gap: 20px;
  height: 550px;
  margin: 30px;
  margin-bottom: 100px;
}
