.container {
  margin: 30px;
  height: auto;
  background: var(--light);
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
}

.map {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 20px;
}

.map-container {
  position: relative;
}

.form-container {
  position: absolute;
  top: 250px;
  left: 20px;
  transform: translateY(-50%);
  height: 450px;
  width: 380px;
  background: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 20px;
  padding: 10px;
}

.form-container .form-title {
  font-size: 16px;
  color: var(--darkGrey);
  font-weight: bold;
  padding: 10px 10px 0 10px;
}

.form-container .tripe-text {
  font-size: 14px;
  color: var(--darkGrey);
  opacity: 70%;
  padding: 10px;
}

.form {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--darkGrey);
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: var(--lightGrey);
  border-radius: 5px;
  color: var(--darkGrey);
}

/* start select customization */
select {
  width: 180px;
  appearance: none; /* Hides the default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* end select customization */

.auto-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.auto-title {
  font-size: 16px;
  color: var(--darkGrey);
}

.auto-generate-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.points {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.point {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: var(--lightBlue);
  width: 100%;
}

.gray-text {
  font-size: 14px;
  font-weight: normal;
  color: var(--grey);
  opacity: 0.7;
}

.dark-text {
  font-size: 14px;
  font-weight: normal;
  color: var(--grey);
}

.point-green-button,
.point-red-button,
.point-yellow-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.point-green-button {
  border: 1px solid var(--green);
  color: var(--green);
}

.point-yellow-button {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

.point-red-button {
  border: 1px solid var(--red);
  color: var(--red);
}

.container-buttons {
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 55px;
}

.cancel-button {
  background-color: var(--light);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.save-button {
  background-color: var(--yellow);
  color: var(--light);
  border: 1px solid var(--yellow);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.ph-line-vertical {
  color: var(--grey);
  font-size: 14px;
}
